:root {
  --navy: #2e4374;
  --beige: #e5c3a6;
  --blue: #7c81ad;
  --lightnavy: #4b527e;
  --grey: #888888;
}

body {
  font-family: "Roboto";
  scroll-behavior: smooth;
}

.header {
  background-image: url("../img/lobby.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
  height: 100vh;
  background-position: 50% 50%;
}

.navbar {
  overflow: hidden;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.titlemain {
  color: black;
  font-size: xx-large;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 20px;
}

.scroll {
  bottom: 40px;
  text-align: center;
  position: absolute;
}

.scroll:hover {
  cursor: pointer;
}

.booknow {
  border: black solid 2px;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.bookdiv {
  height: 33%;
}

.featured h2 {
  color: var(--navy);
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}

.featured {
  padding: 5px;
  background-color: var(--grey);
  height: fit-content;
  min-height: 300px;
  text-align: center;
}

.newspaper img {
  height: 50px;
  width: auto;
  filter: grayscale();
}

.newspaper {
  padding: 5px;
  padding-top: 15px;
}

@media only screen and (max-width: 600px) {
  .newspaper {
    float: none;
    width: 50%;
  }
}

.zimmer {
  max-width: 100%;
  margin: 20px;
  display: flow-root;
  align-items: center;
}

.zimmer img {
  float: left;
  max-width: 450px;
  height: auto;
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .zimmer img {
    max-width: 350px;
  }
}

.zimmer p {
  text-align: left;
}

.offer {
  background-color: var(--lightnavy);
}

.card {
  display: inline-flex;
  margin: 20px;
  height: 400px;
  width: 300px;
  background-color: var(--blue);
  border: black solid 2px;
  text-align: center;
}

.card img {
  width: 100%;
  min-height: 197.433px;
  margin: 0 auto;
}

.card p {
  text-align: left;
  padding: 10px;
}

.offer {
  align-items: center;
  text-align: center;
}

.title {
  color: black;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  padding-top: 10px;
}

footer {
  bottom: 0;
}

.footer {
  background-color: var(--blue);
  height: max-content;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.nodec {
  list-style: none;
  display: flex;
}

.nodec {
  display: inline-table;
}

.number {
  display: inline-flex;
}

.nodec a {
  color: black;
  text-decoration: none;
}

.nodec li:hover {
  text-decoration: dotted;
}

.social {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .social {
    flex-direction: column;
  }
}

.nodec li {
  margin: 10px;
  color: black;
}

/* DASHBAORD */

/* Dashbaord */

/*  MANAGE */

.currentbooking {
  border: black solid 2px;
  padding: 20px;
}

.label {
  color: var(--grey);
  font-weight: 400;
  margin-bottom: 0;
}

.auswahl {
  border: var(--navy) solid 3px;
}

.auswahlcenter {
  padding-top: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auswahl > * {
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .auswahlcenter {
    width: fit-content;
    max-width: 300px;
    margin: auto;
    display: flex;
  }
}

.dropdown-menu {
  min-width: 300px;
}

.dropdown-menu div button {
  width: 25px;
}

/*  MANAGE */
