:root {
  --navy: #2e4374;
  --beige: #e5c3a6;
  --blue: #7c81ad;
  --lightnavy: #4b527e;
  --grey: #888888;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  scroll-behavior: smooth;
}

/*Login start*/

.pb {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.edit {
  border-color: green;
  border-style: solid;
  display: block;
}

.overlay {
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.con {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  max-width: 350px;
  width: 90%;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/*Login end*/

.content {
  padding-bottom: 500px;
}

.header {
  background-image: url("../img/lobby.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
  height: 100vh;
  background-position: 50% 50%;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.titlemain {
  color: black;
  font-size: xx-large;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 20px;
}

.scroll {
  bottom: 40px;
  text-align: center;
  position: absolute;
}

.scroll:hover {
  cursor: pointer;
}

.booknow {
  border: black solid 2px;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.bookdiv {
  height: 33%;
}

.featured h2 {
  color: var(--navy);
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}

.featured {
  padding: 5px;
  background-color: var(--grey);
  height: fit-content;
  min-height: 300px;
  text-align: center;
}

.newspaper img {
  height: 50px;
  width: auto;
  filter: grayscale();
}

.newspaper {
  padding: 5px;
  padding-top: 15px;
}

@media only screen and (max-width: 600px) {
  .newspaper {
    float: none;
    width: 50%;
  }
}

.zimmer {
  max-width: 100%;
  margin: 20px;
  display: flow-root;
  align-items: center;
}

.zimmer img {
  float: left;
  max-width: 450px;
  height: auto;
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .zimmer img {
    max-width: 350px;
  }
}

.zimmer p {
  text-align: left;
}

.offer {
  background-color: var(--lightnavy);
}

.card {
  display: inline-flex;
  margin: 20px;
  height: 400px;
  width: 300px;
  background-color: var(--blue);
  border: black solid 2px;
  text-align: center;
}

.card img {
  width: 100%;
  min-height: 197.433px;
  margin: 0 auto;
}

.card p {
  text-align: left;
  padding: 10px;
}

.offer {
  align-items: center;
  text-align: center;
}

.title {
  color: black;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  padding-top: 10px;
}

footer {
  padding: 40px;
  margin-top: auto;
  width: 100%;
  background-color: var(--blue);
  height: max-content;
}

.nodec {
  list-style: none;
  display: flex;
}

.nodec {
  display: inline-table;
}

.number {
  display: inline-flex;
}

.nodec a {
  color: black;
  text-decoration: none;
}

.nodec li:hover {
  text-decoration: dotted;
}

.social {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .social {
    flex-direction: column;
  }
}

.nodec li {
  margin: 10px;
  color: black;
}

/* DASHBAORD */

#dropdown {
  min-width: 250px;
}

#dropdown2 {
  min-width: 200px;
}

/* Dashbaord */

/*  MANAGE */

.currentbooking {
  border: black solid 2px;
  padding: 20px;
}

.label {
  color: var(--grey);
  font-weight: 400;
  margin-bottom: 0;
}

.auswahl {
  border: var(--navy) solid 3px;
}

.auswahlcenter {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auswahl > * {
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .auswahlcenter {
    width: fit-content;
    max-width: 300px;
    margin: auto;
    display: flex;
  }
}

/*  MANAGE */

.bodyhelp {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* PROFILE */

.infos {
  margin: 50px;
  margin-bottom: 5px;
}

#picedit {
  float: right;
}

#picedit:hover {
  cursor: pointer;
}

/* END PROFILE */

.back {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

.container-impressum {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.font {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}

.margin {
  margin-left: 1%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.zimmer {
  padding: 5px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 50%;
  min-width: 800px;
  align-items: center;
}

.zimmer h3 {
  float: right;
  margin: 10px;
}

.zimmer img {
  border-radius: 16px;
}

.zimmer p {
  font-size: 1rem;
}

h1 {
  font-size: 1rem;
}

.date {
  max-width: 600px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.gebucht {
  border: 1px solid var(--blue);
  width: fit-content;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  padding: 10px;
}

.summary > img {
  border-radius: 10px;
  margin: 20px;
}

.summary > button {
}

#roomdetails {
  margin: 10px 0px 10px 0px;
  width: 250px;
}

#booknow {
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.block {
  display: none;
}

.editdata {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bearbeiten:hover {
  color: var(--navy);
  cursor: pointer;
}
